<h2>Log In</h2><hr>
<form action="/login" method="post">
	<input type="text" name="signin" placeholder="Email or username:"><br>
	<input type="password" name="password" placeholder="Password:"><br>
	<input type="submit" value="Log In">
</form>